<!DOCTYPE html>
<html lang="es" >
<head>
  <meta charset="UTF-8">
  <title>Átomos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Comfortaa:300'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.17/vuetify.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/2.6.95/css/materialdesignicons.min.css'><link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.17/vuetify.min.js'></script>
  <script src='https://unpkg.com/vue-the-mask@0.11.1/dist/vue-the-mask.js'></script>

<!-- partial:index.partial.html -->

<v-app id="App">

  <v-layout class="layout-1" align-center="align-center" justify-center="justify-center">
    <div class="font-comfortaa" id="atom">
      <div class="electrosphere" v-for="(layer, i) in reversedArr(diagram)" :class="[
        'layer-' + (7 - i),
        {
          'empty': !reversedArr(layers)[i]
        }
      ]" :style="{
       '--size': 100 - i * 10 + '%',
       '--base': reversedArr(layers)[i]
      }">
        <div class="electron" v-for="(electrons, j) in reversedArr(layers)[i]" :style="{'--index': j}"></div>
      </div>
      <the-mask id="element-search" mask="Aa" v-model="search"></the-mask>
      <label for="element-search">
        <div class="nucleus" :class="{'match-error': electrons &lt; 1}">
          <h2 class="element-initials">{{search}}</h2><sup>{{ electrons | electronsIndicator }}</sup>
        </div>
      </label>
    </div>
  </v-layout>
  <v-layout class="layout-2" align-center="align-center" column="column">
    <v-slider class="electrons-slider" v-model="electronsSlide" track-color="#FFF" thumb-label="thumb-label" min="1" max="118" color="light-blue lighten-1" append-icon="mdi-chevron-right" prepend-icon="mdi-chevron-left"  @input="updateElectrons(), updateElementName()" @click:append="increment(1), updateElementName()" @click:prepend="increment(-1), updateElementName()"></v-slider>
    <div class="notation-display font-comfortaa" :class="{
        'show-full-notation': showFullNotation
      }" @click="showFullNotation = !showFullNotation"><span v-for="item, i in notation" :class="{
          'truncate': typeof item === 'string',
          'middle': notation.length &gt; 5 &amp;&amp; 2 &lt; i &amp;&amp; i &lt; notation.length - 3
        }" v-show="electrons &gt; 0"> <span v-if="typeof item === 'object'">{{item.location}}<sup>{{ item.electrons }}</sup></span><span v-else="v-else">
          <v-icon color="light-blue">...</v-icon></span></span><span class="input-error" v-if="!notation.length">Invalid input</span></div>
  </v-layout>
  <v-toolbar class="px-4 pt-1" flat="flat" fixed="fixed" color="transparent">
    <v-spacer></v-spacer>
    <v-tooltip bottom="bottom">

        <v-btn flat="flat" large="large" icon="icon" color="light-blue" slot="activator" :disabled="electrons &lt; 1" @click="googleSearchElement">
          <v-icon>mdi-magnify</v-icon>
        </v-btn><span>Buscar en Google</span>
    </v-tooltip>

  </v-toolbar>
</v-app>


<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>


<!-- partial -->
<script  src="js/script.js"></script>

</body>
</html>
